<!-- About Section -->
    <section id="about" class="bg-light-gray">
	<div class="container">
	    <div class="row">
		<div class="col-lg-12 text-center">
		     <h2 class="section-heading">Lei Li (李磊), PhD </h2>
<!--
 -->            </div>
	    </div>
	    <div class="row">
		<div class="col-lg-12 text-center" >
		    <img src="img/about/lei.jpg" class="img-responsive img-circle" alt="">
		</div>
	    </div>
	    <div class="row">
		<div class="col-lg-8 col-lg-offset-2 text-center">
		    <p class="large text-muted">Lei Li Postdoctoral Associate in <a href=http://lilab.openwetware.org/> Prof. Wei Li's lab </a> at <a href=https://www.bcm.edu/> Baylor College of Medicine</a>, Houston, USA. Before he was a Computational RNA biologist in <a href=http://www.imib-wuerzburg.de/research/> Prof. Jörg Vogel's lab </a> at <a href=http://www.uni-wuerzburg.de/en/ueber/university/>University of Würzburg</a>, Germany. He received his PhD in Computational biology at <a href=http://www.cuhk.edu.hk/>The Chinese University of Hong Kong</a>. His research interests intersect at bioinformatics, RNA biology, with the goal of systematic understanding underlying RNA-mediated regulation in infection and cancer.
		    </p>
		    <p class="large text-muted">
		    <br> Email: lei.li.bioinfo [at] gmail.com (or) lei.li [at] bcm.edu
		    <br> ORCID: <a href=https://orcid.org/0000-0003-3924-2544 > 0000-0003-3924-2544 </a>
                    <br> Twitter: <a href=https://twitter.com/LeiLi_bioinfo/> @LeiLi_bioinfo </a>

		    </p>
		</div>
	    </div>
	</div>
    </section>
