<!-- About Section -->
    <section id="about" class="bg-light-gray">
	<div class="container">
	    <div class="row">
		<div class="col-lg-12 text-center">
		     <h2 class="section-heading">Lei Li</h2>
<!--                    
 -->            </div>
	    </div>
	    <div class="row">
		<div class="col-lg-12 text-center" >
		    <img src="img/about/lei.jpg" class="img-responsive img-circle" alt="">
		</div>
	    </div>
	    <div class="row">
		<div class="col-lg-8 col-lg-offset-2 text-center">
		    <p class="large text-muted">Lei Li postdoc in <a href=http://www.imib-wuerzburg.de/research/> INSTITUTE FOR MOLECULAR INFECTION BIOLOGY </a> at <a href=http://www.uni-wuerzburg.de/en/ueber/university/>University of Würzburg</a>. He received my PhD in biology at <a href=http://www.cuhk.edu.hk/>The Chinese University of Hong Kong</a>. His research interests intersect at genomics, transcriptome, with the goal of understanding underlying regulatory network in systemic level.
		    </p>
		    <p class="large text-muted">
		      <br> Email: leili.bioinfo [at] gmail.com
		    </p>
		</div>
	    </div>
	</div>
    </section>
