<!-- intro Section -->
<section id="intro">
    <div class="container">
	<div class="row">
	    <div class="col-lg-12 text-center">
		<h2 class="section-heading">INTRO</h2>
		<h3 class="section-subheading text-muted">Three research interests about Lei. </h3>
	    </div>
	</div>
	<div class="row text-center">
	    <div class="col-md-4">
		<h4 class="intro-heading">RNA Systems Biology</h4>
		<p class="text-muted">Single Cell RNA-seq ( <i> Nature Microbiology </i> 2017), RNA transcription (dRNA-seq) ( <i> Plos One </i> 2015), RNA processing (CLIP-seq, eCLIP-seq, CLASH-seq) (<i> EMBO Journal </i> 2016), RNA translation (Ribosome profiling), RNA decay (TIER-seq) ( <i> Molecular Cell </i> 2017)  </p>
	    </div>
	    <div class="col-md-4">
		<h4 class="intro-heading">Post-transcriptional regulation</h4>
		<p class="text-muted">Alternative polyadenylation, Non-coding RNAs (NAR 2013), Small Proteins</p>
	    </div>
	    <div class="col-md-4">
		<h4 class="intro-heading">Bioinformatics algorithm and tools development</h4>
		<p class="text-muted">scRNADeep, sPepfinder, BSRD database (NAR 2013), sRNADeep, TRAPL_FUN </p>
	    </div>
	</div>
    </div>
</section>
