<!-- intro Section -->
<section id="intro">
    <div class="container">
	<div class="row">
	    <div class="col-lg-12 text-center">
		<h2 class="section-heading">Intro</h2>
		<h3 class="section-subheading text-muted">Three research interests about Lei. </h3>
	    </div>
	</div>
	<div class="row text-center">
	    <div class="col-md-4">
		<h4 class="intro-heading">(Epi)genome Biology</h4>
		<p class="text-muted">Infection Genomics ( <i> Salmonella </i> Typhimurium, <i> Vibrio parahaemolyticus </i> , <i> Escherichia coli </i>), Fungal Genomics (Shiitake mushroom), ChIP-Seq, allele-specific DNA methylation </p>
	    </div>
	    <div class="col-md-4">
		<h4 class="intro-heading">RNA Systems Biology</h4>
		<p class="text-muted">Single Cell RNA-Seq, CLIP-Seq (and other protein-RNA interaction), Ribosome profiling, Degradome Sequencing, dRNA-Seq, CLASH Seq </p>
	    </div>
	    <div class="col-md-4">
		<h4 class="intro-heading">Bioinformatics algorithm and tools development</h4>
		<p class="text-muted">scRNADeep, sPepfinder, BSRD database, sRNADeep, TRAPL_FUN </p>
	    </div>
	</div>
    </div>
</section>
