<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
	<div class="row">
	    <div class="col-lg-12 text-center">
		<h2 class="section-heading"> Publications</h2>
		<h3 class="section-subheading text-muted"> </h3>
	    </div>
	</div>

  <p style="line-height:200%;">&nbsp;&nbsp;&nbsp;&nbsp; <span style="font-weight:bolder;"> Accepted/published after Peer Reviewed </span> </p>

  <p style="line-height:130%;">&nbsp;&nbsp;&nbsp;&nbsp;14. Chao Y, <span style="font-weight:bolder;"> Lei Li </span>, Girodat D, Förstner KU, Said N, Corcoran C, Smiga M, Papenfort K, Reinhardt R, Wieden HJ, Luisi BF, Vogel J.
  In vivo cleavage map illuminates the central role of RNase E in coding and noncoding RNA pathways. 2016 <b> <i> Molecular Cell. </i> </b> (in press) </a>

  <p style="line-height:130%;">&nbsp;&nbsp;&nbsp;&nbsp;13. Saliba AE, <span style="font-weight:bolder;"> Lei Li </span>, Westermann AJ, Appenzeller S, Stapels DAC, Schulte LN, Helaine S, Vogel J.
    Single cell RNA-seq ties macrophage polarization to growth rate of intracellular Salmonella. 2016 <b> <i> Nature Microbiology. </i> </b> (in press) </a>
  </p>

  <p style="line-height:130%;">&nbsp;&nbsp;&nbsp;&nbsp;12. Holmqvist E, Wright PR, <span style="font-weight:bolder;"> Lei Li </span>, Bischler T, Barquist L, Reinhardt R, Backofen R, Vogel J. Global RNA recognition patterns of post-transcriptional regulators Hfq and CsrA revealed by UV crosslinking in vivo. <b> <i> The EMBO Journal. </i> </b> 2016. embj.201593360.
  <a href="http://emboj.embopress.org/content/early/2016/04/04/embj.201593360"> <span style="font-weight:bolder;"> Full text at EMBO Journal </span> </a>
  </p>

  <p style="line-height:130%;">&nbsp;&nbsp;&nbsp;&nbsp;11. Fan, B., <span style="font-weight:bolder;">Lei Li</span>, Chao, Y., Förstner, K., Vogel, J., Borriss, R., & Wu, X. Q. (2015). dRNA-Seq Reveals Genomewide TSSs and Noncoding RNAs of Plant Beneficial Rhizobacterium Bacillus amyloliquefaciens FZB42. <i>PloS one</i>, 10(11), e0142002.
  <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0142002"> <span style="font-weight:bolder;"> Full text at Plos One </span> </a>
  </p>

  <p style="line-height:130%;">&nbsp;&nbsp;&nbsp;&nbsp;10. Dagmar Krysciak, Jessica Grote, Mariita Rodriguez Orbegoso, Christian Utpatel, Konrad U. Förstner, <span style="font-weight:bolder;">Lei Li </span>, Christel Schmeisser, Hari B. Krishnan, Wolfgang R. Streit. RNA-seq in the broad host range strain Sinorhizobium fredii NGR234 identifies a large set of genes linked to quorum sensing-dependent regulation in the background of a traI and ngrI deletion mutant. <i>Applied and Environmental Microbiology.</i> 2014. doi: 10.1128/AEM.01835-14.
  <a href="http://aem.asm.org/content/early/2014/07/01/AEM.01835-14"> <span style="font-weight:bolder;"> Full text at AEM </span> </a>
  </p>

  <p style="line-height:130%;">&nbsp;&nbsp;&nbsp;&nbsp;9. Xiang Xinjie, Li Chuan, <span style="font-weight:bolder;"> Li Lei </span>, Bian Yinbing, Kwan Hoishan, Nong Wenyang, Cheung Mankit, Xiao Yang, Genetic diversity and population structure of Chinese Lentinula edodes revealed by InDel and SSR markers, <i> Mycological Progress </i>, 2016 DOI: 10.1007/s11557-016-1183-y.
  <a href="http://link.springer.com/article/10.1007%2Fs11557-016-1183-y"> <span style="font-weight:bolder;"> Full text at Mycological Progress </span> </a>
  </p>

	<p style="line-height:130%;">&nbsp;&nbsp;&nbsp;&nbsp;8. Gong, WB,  <span style="font-weight:bolder;">Lei Li</span>, Zhou, Y., Bian, Y. B., Kwan, H. S., Cheung, M. K., & Xiao, Y. (2016). Genetic dissection of fruiting body-related traits using quantitative trait loci mapping in Lentinula edodes. <i>Applied Microbiology and Biotechnology</i>, 1-16.
  <a href="http://link.springer.com/article/10.1007%2Fs00253-016-7347-5"> <span style="font-weight:bolder;"> Full text at Applied Microbiology and Biotechnology </span> </a>
  </p>

  <p style="line-height:130%;">&nbsp;&nbsp;&nbsp;&nbsp;7. <span style="font-weight:bolder;">Lei Li</span>, Hin-chung Wong, Wenyan Nong, Man Kit Cheung, Patrick Tik Wan Law, Kai Man Kam and Hoi Shan Kwan. Comparative genomic analysis of clinical and environmental strains provides insight into the pathogenicity and evolution of Vibrio parahaemolyticus. <i>BMC Genomics</i> 2014, 15:1135.
  <a href="http://bmcgenomics.biomedcentral.com/articles/10.1186/1471-2164-15-1135"> <span style="font-weight:bolder;"> Full text at BMC Genomics </span> </a>
  </p>

  <p style="line-height:130%;">&nbsp;&nbsp;&nbsp;&nbsp;6. Qianli Huang, Jinhui Chang, Man Kit Cheung, Wenyan Nong, <span style="font-weight:bolder;">Lei Li </span>, Ming-Tsung Lee, and Hoi Shan Kwan. Human proteins with target sites of multiple post-translational modification types are more prone to be involved in disease. <i>Journal of Proteome Research.</i> 2014. vol. 13 (6). 2735-2748.
  <a href="http://pubs.acs.org/doi/abs/10.1021/pr401019d"> <span style="font-weight:bolder;"> Full text at Journal of Proteome Research </span> </a>
  </p>

  <p style="line-height:130%;">&nbsp;&nbsp;&nbsp;&nbsp;5. Chi Keung Cheng, Chun Hang Au, <span style="font-weight:bolder;">Lei Li</span>, Wenyan Nong, Patrick Tik Wan Law, William Man Wai Cheung, Julia Mei Lun Ling, Hoi Shan Kwan. Genome sequences of Salmonella enterica serotype Typhimurium blood clinical isolate ST4848/06 and stool isolate ST1489/06. <i>Genome announcements.</i> 2013. vol. 1 no. 5 e00823-13.
  <a href="http://genomea.asm.org/content/1/5/e00823-13"> <span style="font-weight:bolder;"> Full text at GA </span> </a>
  </p>

  <p style="line-height:130%;">&nbsp;&nbsp;&nbsp;&nbsp;4. <span style="font-weight:bolder;">Lei Li</span>, Chi Keung Cheng, Man Kit Cheung, Patrick Tik Wan Law, Julia Mei Lun Ling, Kai Man Kam, William Man Wai Cheung, Hoi Shan Kwan. Draft Genome Sequence of Salmonella enterica Serovar Typhimurium ST1660/06, a Multidrug-Resistant Clinical Strain Isolated from a Diarrheic Patient. <i>Journal of bacteriology.</i> 2012. vol. 194. 6319-6320.
  <a href="http://jb.asm.org/content/194/22/6319.long"> <span style="font-weight:bolder;"> Full text at JB </span> </a>
  </p>

	<p style="line-height:130%;">&nbsp;&nbsp;&nbsp;&nbsp;3. Jingwei Jiang, Jun Li, Hoi Shan Kwan, Chun Hang Au, Patrick Tik Wan Law, <span style="font-weight:bolder;">Lei Li</span>, Kai Man Kam, Julia Mei Lun Ling, Frederick C Leung. A cost-effective and universal strategy for complete prokaryotic genomic sequencing proposed by computer simulation. <i>BMC Research Notes.</i> 2012. 5:80. (Highly accessed)
  <a href="http://bmcresnotes.biomedcentral.com/articles/10.1186/1756-0500-5-80"> <span style="font-weight:bolder;"> Full text at BMC Research Notes </span> </a>
  </p>

	<p style="line-height:130%;">&nbsp;&nbsp;&nbsp;&nbsp;2. Man Kit Cheung, <span style="font-weight:bolder;">Lei Li</span>, Wenyan Nong, Hoi Shan Kwan. 2011 German Escherichia coli O104:H4 outbreak: whole-genome phylogeny without alignment. <i>BMC Research Notes.</i> 2011. 4:533. (Highly accessed)
  <a href="http://bmcresnotes.biomedcentral.com/articles/10.1186/1756-0500-4-533"> <span style="font-weight:bolder;"> Full text at BMC Research Notes </span> </a>
  </p>

	<p style="line-height:130%;">&nbsp;&nbsp;&nbsp;&nbsp;1. <span style="font-weight:bolder;">Lei Li</span>, Dandan Huang, Man Kit Cheung, Wenyan Nong, Qianli Huang, Hoi Shan Kwan. BSRD: a repository for bacterial small regulatory RNA. <i>Nucleic Acids Research.</i> 2013. vol. 41. D233-238.
  <a href="http://nar.oxfordjournals.org/content/41/D1/D233.long"> <span style="font-weight:bolder;"> Full text at NAR </span> </a>
  </p>

</div>
</section>
